#Eclipse,ctags,Macmetadata,logfiles
.classpath
.project
.settings
tags
*.log
*.orig

#Createdby.ignoresupportplugin(hsz.mobi)

.gradle
.gradle/*
local.properties

#Generalbuildfiles
**/build/*

lib/dokka.jar
lib/quasar.jar

**/logs/*

###JetBrainstemplate
#CoversJetBrainsIDEs:IntelliJ,RubyMine,PhpStorm,AppCode,PyCharm,CLion,AndroidStudio

*.iml

##Directory-basedprojectformat:
/gradle-plugins/.idea/

#Includethe-parameterscompileroptionbydefaultinIntelliJrequiredforserialization.
!.idea/compiler.xml

#ifyouremovetheaboverule,atleastignorethefollowing:

#User-specificstuff:
#.idea/workspace.xml
#.idea/tasks.xml

#Sensitiveorhigh-churnfiles:
#.idea/dataSources.ids
#.idea/dataSources.xml
#.idea/sqlDataSources.xml
#.idea/dynamic.xml
#.idea/uiDesigner.xml

#Gradle:
#.idea/gradle.xml
#.idea/libraries
/gradle-plugins/gradle*

#MongoExplorerplugin:
#.idea/mongoSettings.xml

##File-basedprojectformat:
*.ipr
*.iws

##Plugin-specificfiles:
#IntelliJ
**/out/
/classes/

#mpeltonen/sbt-ideaplugin
.idea_modules/

#JIRAplugin
atlassian-ide-plugin.xml

#Crashlyticsplugin(forAndroidStudioandIntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

#docsrelated
docs/virtualenv/

#bft-smart
**/config/currentView

#vim
*.swp
*.swn
*.swo

#Filesyoumayfindusefultohaveinyourworkingdirectory.
PLAN
NOTES
TODO
compiler.xml
test.java

*/src/main/resources/application.properties
*/src/main/resources/electronic-signature.properties
*/src/main/resources/logback.xml


.idea
.ideaDataSources

project-dependencies.dot
project-dependencies.png

*.lock
*.bin
